@model JobSearching.ViewModels.AdvertDetailViewModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <meta charset="utf-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <style>

        .signUpForAdvertButton {
            background-color: #64ba67;
            border-radius: 20px;
            border: 2px;
            padding: 15px 40px;
            font-size: 40px;
            cursor: pointer;
            margin: 5px;
            display: inline-block;
        }

    </style>

</head>

<p class="headlineFont">Information About Job Advertisement</p>

<hr class="horizontalRule" />

<ul>
    <li><pre class="whiteShade"><span class="textTypeFont">Created by:   </span>  <span class="textFont">@Model.CompanyBossFirstName @Model.CompanyBossLastName</span> </pre> </li>
    <li><pre class="whiteShade"><span class="textTypeFont" style="word-break:break-word;">Position:      </span><span class="textFont">@Model.Position</span> </pre></li>
    <li><pre class="whiteShade"><span class="textTypeFont">Company Name:  </span><span class="textFont">@Model.CompanyName</span> </pre></li>
    <li><pre class="whiteShade"><span class="textTypeFont">Contact Phone: </span><span class="textFont">@Model.ContactPhone</span> </pre></li>
    <li><pre class="whiteShade"><span class="textTypeFont">Additional Information </span><br /><span class="textFont">@Model.Description</span> </pre></li>
</ul>

<br />

<div style="width:100%;text-align: center;">
        <div class="signUpForAdvertButton">
            <b><a asp-route-id="@Model.Id" asp-area="" asp-action="VolunteerSignUpAdvert" asp-controller="Advert">Sign up</a></b>
        </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
