@model JobSearching.ViewModels.VolunteerDetailViewModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <meta charset="utf-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>

<style>

</style>

<div class="row">
    <p class="headlineFont">Account information about: <b>@Model.Username</b></p>

    <hr class="horizontalRule" />

    <pre class="whiteShade"><span class="textTypeFont">Name:    </span><span class="textFont">@Model.FirstName<span>  </span>@Model.LastName<span>  [</span>@Model.Age]</span></pre>
    <pre class="whiteShade"><span class="textTypeFont">Contact: </span><span class="textFont">@Model.Contact</span> </pre>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
